###### Tools ######
# Redis
REDIS_PASSWORD=your_redis_password
# pgvector
POSTGRES_DB=vinaacademy
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password

# Network
DROPLET_A_IP=your_droplet_a_ip
DROPLET_A_PUBLIC_IP=your_droplet_a_public_ip
DROPLET_B_PUBLIC_IP=your_droplet_b_public_ip
DROPLET_C_IP=your_droplet_c_ip

###### Services ######

# Database
PLATFORM_DB_URL=jdbc:postgresql://${DROPLET_A_IP}:5432/vinaacademy
NOTIFICATION_DB_URL=jdbc:postgresql://${DROPLET_A_PUBLIC_IP}:5432/vinaacademy_email
CHAT_DB_URL=jdbc:postgresql://${DROPLET_A_IP}:5432/vinaacademy_chat

# MinIO
MINIO_ENDPOINT=https://s3.vn-hcm-1.vietnix.cloud
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=your_redirect_uri

# VNPay
VNPAY_TMN_CODE=your_vnpay_tmn_code
VNPAY_HASH_SECRET=your_vnpay_hash_secret
VNPAY_URL_RETURN=https://vnacademy.io.vn/transaction

# Application
APPLICATION_HMAC_SECRET=your_application_hmac_secret

# Gmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
GMAIL_USERNAME=your_gmail_username
GMAIL_PASSWORD=your_gmail_password

# Frontend URLs
NEXT_PUBLIC_API_URL=https://api.vnacademy.io.vn/api/v1
NEXT_PUBLIC_SITE_URL=https://vnacademy.io.vn
NEXT_PUBLIC_WS_URL=https://api.vnacademy.io.vn/ws
NEXT_PUBLIC_AI_URL=https://ai.vnacademy.io.vn/api/v1
APPLICATION_URL_FRONTEND=https://vnacademy.io.vn
APPLICATION_URL_BACKEND=https://api.vnacademy.io.vn

NOTIFICATION_SERVICE_IP_ADDRESS=your_notification_service_ip_address
SECURITY_OAUTH2_TOKEN_URI=http://${DROPLET_B_PUBLIC_IP}:8081/oauth2/token
SECURITY_JWT_GRPC_ADDRESS=grpc://${DROPLET_B_PUBLIC_IP}:9090

TEXT_TO_SPEECH_SERVICE_IP_ADDRESS=${DROPLET_C_IP}
# Azure Configuration
AZURE_SPEECH_KEY=your_azure_speech_key
AZURE_SPEECH_REGION=eastus
AZURE_SPEECH_ENDPOINT=https://eastus.api.cognitive.microsoft.com/
TTS_DEFAULT_VOICE=vi-VN-HoaiMyNeural
TTS_DEFAULT_LANGUAGE=vi-VN
TTS_AUDIO_FORMAT=audio-16khz-128kbitrate-mono-mp3
TTS_MAX_TEXT_LENGTH=5000
TTS_CACHE_ENABLED=true
# Azure Lang AI
AZURE_LANGUAGE_ENDPOINT=https://lang-ai-service.cognitiveservices.azure.com/
AZURE_LANGUAGE_API_KEY=your_azure_language_api_key
AZURE_REGION=eastus


###### AI Services ######
LLM_PROVIDER=openai
DB_HOST=${DROPLET_A_IP}
DB_PORT=5432
OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key
EUREKA_SERVER_URL=http://${DROPLET_A_IP}:8761/eureka
INSTANCE_HOST=${DROPLET_C_IP} # 206.189.148.30
INSTANCE_PORT=8000
JINA_API_KEY=your_jina_api_key
MAX_TOKENS=3072
OPENAI_MODEL_NAME=gpt-5-mini